@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-link {
    @apply relative block py-4 font-bold text-center transition duration-200 bg-transparent border-2 border-white rounded-lg hover:bg-white hover:bg-opacity-25 w-full hover:border-opacity-50 hover:text-green-500 md:px-12;
  }
}
