@import "tailwindcss";

@plugin "@tailwindcss/forms";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility btn-link {
  @apply relative block py-4 font-bold text-center transition duration-200 bg-transparent border-2 border-white rounded-lg hover:bg-white/25 w-full hover:border-white/50 hover:text-green-500 md:px-12;
}
